<div class="py-12" style="padding-top: 120px;">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
          <h1 class="font-bold text-4xl" style="color: #6F0114;">FAQs</h1>
          <div class="lg:w-2/3 mx-auto flex justify-center py-6">
            <img src="<%= asset_path('chorus.png') %>" alt="Chorus Image">
          </div>
          <div class="flex flex-col divide-y divide-gray-700">
            <details>
              <summary class="py-2 outline-none cursor-pointer font-semibold text-justify">What is the goal of mixed ability dance at Dance Into Space?</summary>
              <div class="px-6 pb-4 text-justify">
                <p>
                  Through mixed ability dance we aim to spark conversations that lead 
                  to uptake of policies and outcomes that are geared towards optimum inclusive arts advocacy. 
                </p>
              </div>
            </details>
            <details>
              <summary class="py-2 outline-none cursor-pointer font-semibold text-justify">What is the mission or pledge of Dance Into Space regarding persons with disabilities?</summary>
              <div class="px-6 pb-4 text-justify">
                <p>
                  At Dance Into Space we hold a pledge to keep innovating, advocating, and 
                  pushing to ensure that persons with disabilities everywhere are fully aware 
                  of and able to express themselves, exercise their rights, to access information, 
                  education and services; and to live free of violence and cultural discrimination.
                </p>
              </div>
            </details>
            <details>
              <summary class="py-2 outline-none cursor-pointer font-semibold text-justify">Why is disability simulation considered inadequate for understanding the experiences of disabled people?</summary>
              <div class="px-6 pb-4 text-justify">
                <p>
                  Disability simulation fails to capture the nuance and 
                  complexity of living in a disabled body. And it certainly 
                  fails to give a deep understanding of systemic 
                  discrimination and abuse faced by disabled people.
                </p>
              </div>
            </details>
            <details>
              <summary class="py-2 outline-none cursor-pointer font-semibold text-justify">How does Dance Into Space use dance to promote advocacy and inclusivity?</summary>
              <div class="px-6 pb-4 text-justify">
                <p>
                  As Dance into Space, we leverage on this in order to give dance to all, 
                  while at the same time, being able to use this very dance to pass advocacy and 
                  art-ivism in creativity. Advocacy for human rights has a set of ever-changing 
                  dynamics. On this basis, advocacy laced with creative methods comes up with 
                  means to specific ends such as #breakingbarriers of myths, misconceptions, stigma, 
                  and promoting diversity and inclusion. Dance has been a creative method of delivering 
                  messages pertaining advocacy for a long time now, and 
                  we are delivering results using messages crafted in artistic dance pieces. 
                </p>
              </div>
            </details>
            <details>
              <summary class="py-2 outline-none cursor-pointer font-semibold text-justify">
                What efforts are being made within the dance community to challenge narrow \
                beauty standards and prioritize diversity and artistic expression over physical appearance?
              </summary>
              <div class="px-6 pb-4 text-justify">
                <p>
                  The dance industry often places a significant emphasis on physical attributes 
                  and aesthetics, particularly in certain genres or contexts. Dancers may face 
                  pressure to conform to specific body standards or to prioritize technical 
                  perfection over artistic expression. However, it's important to note that 
                  the dance world is diverse, and there are many artists and companies who 
                  prioritize creativity, expression, and diversity of movement over physical 
                  appearance. Additionally, there has been a growing movement within the dance 
                  community to challenge narrow definitions of beauty and to celebrate a wider 
                  range of bodies and movement styles.
                </p>
              </div>
            </details>
            <details>
              <summary class="py-2 outline-none cursor-pointer font-semibold text-justify">
                Why is there an increasing interest within dance communities and professional companies to challenge 
                traditional notions of aesthetics and incorporate an aesthetic of difference?
              </summary>
              <div class="px-6 pb-4 text-justify">
                <p>
                  The inter-relation between dance and disability might be pictured as unusual or rare, 
                  because, generally, dance is essentially dominated by aesthetic movement and perfect, 
                  idealized bodies which are under optimized bodily control. However, recently there has 
                  been a growing desire within dance communities and professional dance companies to 
                  challenge binary thinking by incorporating an aesthetic of difference. The traditional 
                  focus of dance on appearance is replaced by a focus on how movement is connected to a 
                  sense of self and applied creativity. This notion of the subjective body not only applies 
                  to the dancer's body but also to disabled bodies.
                  This is one of the many reasons why dance is a universal language that we should all understand.
                </p>
              </div>
            </details>
            <details>
              <summary class="py-2 outline-none cursor-pointer font-semibold text-justify">
                How can exposure to various forms of art, including dance positively contribute to 
                the healing of individuals with disabilities?
              </summary>
              <div class="px-6 pb-4 text-justify">
                <p>
                  Surrounding people with disabilities with attractive sounds, music, shapes, 
                  art, film, dance or a therapeutic space can play a significant part in healing a
                  nd uplifting them and have a different perception of the world.
                </p>
              </div>
            </details>
          </div>
    </div>
  </div>
  