<div class="p-12">
  <h1 class="mt-2 p-6 text-3xl font-bold tracking-tight sm:text-4xl" style="color: #6F0114;">Add Content</h1>
  <%= render partial: "form", locals: {blog_post: @blog_post} %>
</div>