<!-- About Section -->
<section id="about" class="py-16 lg:py-20 md:py-16 sm:py-12 px-4 md:px-8 sm:px-6">
  <div class="container mx-auto flex flex-col lg:flex-row items-center py-8 lg:py-0 lg:px-8">
    <div class="lg:w-1/2 lg:pr-8">
      <h2 class="text-3xl font-bold mb-4" style="color: #6F0114;">About Us</h2>
      <h2 class="text-lg italic font-semibold">Where Tradition Meets Contemporary Expression</h2>
      <p class="text-justify text-base mt-4">
        <span style="vertical-align: bottom;">Dance Into Space is a vibrant hub for performing arts, celebrating the beauty of dance and theatre as tools for entertainment, education, and community connection. Rooted in the richness of traditional vocabularies and folk media, we’ve crafted a distinctive contemporary dance-theatre language. Through this innovative approach, we create performances that inspire, educate, and advocate for meaningful change. <br> Dance Into Space (DIS) is a premier mixed-able performing arts company, focused on contemporary dance, under the artistic direction of Ondiege Matthew.
      </p>
      <h3 class="text-xl font-bold mt-4 mb-4" style="color: #6F0114;">Mission</h3>
      <p class="text-justify text-base mb-4">
        To train artists in dance theatre and produce high-quality works for entertainment, education, and personal development.
      </p>
      <h3 class="text-xl font-bold mt-4 mb-4" style="color: #6F0114;">Vision</h3>
      <p class="text-justify text-base">
        To have a society where dance and theatre are embraced and utilized by everyone in all areas of life.
      </p>
    </div>
  
    <div class="lg:w-1/2 mt-6 lg:mt-0 md:px-8 lg:px-0 flex">
      <iframe width="100%" height="400" 
              src="https://www.youtube.com/embed/za3tJpHQwSI?si=21_U4S1e1aTXuyw0&loop=1&playlist=za3tJpHQwSI&autoplay=1&mute=1" 
              title="Nyanam SA Tour 2024" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="rounded-2xl"></iframe>
    </div>
  </div>
  
</section>
