<!-- About Section -->
<section id="about" class="py-16 lg:py-20 md:py-16 sm:py-12 px-4 md:px-8 sm:px-6">
  <div class="container mx-auto flex flex-col lg:flex-row items-center py-8 lg:py-0 lg:px-8">
    <div class="lg:w-1/2 lg:pr-8">
      <h2 class="text-3xl font-bold mb-4" style="color: #6F0114;">About Us</h2>
      <p class="text-justify text-lg">
        <span style="vertical-align: bottom;">Dance Into Space exists to foster the appreciation, practice, and training in performing arts,
        especially dance and theatre for entertainment, education, and community engagement,
        through the exploration of traditional vocabularies and other elements of folk media.
        We have developed a unique contemporary dance theatre language for
        performance and for awareness & advocacy.
      </p>
      <h3 class="text-xl font-bold mt-4 mb-4" style="color: #6F0114;">Mission</h3>
      <p class="text-justify text-lg">
        To share artistic skills and experiences with people from all walks of life and to create quality works for local.
      </p>
      <h3 class="text-xl font-bold mt-4 mb-4" style="color: #6F0114;">Vision</h3>
      <p class="text-justify text-lg">
        To have a society where dance and theatre are popular and are being utilized and enjoyed by all persons in all spheres of life.
      </p>
    </div>
    <div class="lg:w-2/3 lg:pl-8 mt-6 md:mt-10 lg:mt-0 md:px-6 lg:px-0">
      <img src="<%= asset_path('about.png') %>" class="rounded-2xl" alt="About Image">
    </div>
  </div>
</section>