<!-- FAQs Section -->
<section id="faqs" class="faqs" style="background-color: #ACA9BB;">
  <div class="mx-auto max-w-7xl px-6 py-12 sm:py-18 lg:px-8">
    <h2 class="text-2xl font-bold leading-10 tracking-tight" style="color: #6F0114;">Frequently asked questions</h2>
    <p class="mt-4 max-w-2xl text-base leading-7 text-gray-600">Have a different question and can’t find the answer you’re looking for? Reach out to us by <a href="mailto:info@danceintospace.com" class="font-semibold" style="color: #262B76">email</a> and we’ll get back to you as soon as we can.</p>
    <div class="mt-12">
      <!-- FAQ Items -->
      <dl class="space-y-16 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:grid-cols-3 lg:gap-x-10">
        <div>
          <dt class="text-base font-semibold leading-7">
            What has Dance Into Space done in the past that brought about positive change in the society?
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            Dance Into Space has trained nearly 100 dancers
            with disabilities and established new mixed-ability groups in Kenya.
            The organization has decentralized contemporary dance by creating new groups,
            expanding audiences, and establishing performance and training spaces in new areas.
          </dd>
        </div>

        <div>
          <dt class="text-base font-semibold leading-7">
            What are some of the other activities carried out at the Foundation apart from Dance?
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            Dance Into Space has trained and collaborated with approximately
            300 artists in seven counties, fostering artistic and cultural exchanges
            through workshops and joint productions. Capacity building for art groups,
            fundraising, and exchange programs are also integral parts of the company's activities.
          </dd>
        </div>

        <div>
          <dt class="text-base font-semibold leading-7">
            How will we achieve equal SRHR for PWDS through contemporary dance?
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            Dance Into Space works and continues to collaborate
            with people with and without disabilities through performance
            art to educate society and dismantle the stigma, taboos, and
            discrimination associated with disability.
          </dd>
        </div>
        <!-- More questions... -->
      </dl>
      <%= link_to "More FAQs", page_path, class: "faq-button bg-white text-black px-4 py-2 rounded hover:bg-customBlue hover:text-white", style: "text-decoration: none; float: right; margin-top: -25px;" %>
    </div>
  </div>
</section>