<!-- FAQs Section -->
<section id="faqs" class="faqs" style="background-color: #ACA9BB;">
  <div class="mx-auto max-w-7xl px-6 py-12 sm:py-18 lg:px-8">
    <h2 class="text-2xl font-bold leading-10 tracking-tight" style="color: #6F0114;">Frequently asked questions</h2>
    <p class="mt-4 max-w-2xl text-base leading-7 text-gray-600">Have a different question and can’t find the answer you’re looking for? Reach out to us by <a href="mailto:info@danceintospace.com" class="font-semibold" style="color: #262B76">email</a> and we’ll get back to you as soon as we can.</p>
    <div class="mt-12">
      <!-- FAQ Items -->
      <dl class="space-y-16 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:grid-cols-3 lg:gap-x-10">
        <div>
          <dt class="text-base font-semibold leading-7 text-justify">
            What has Dance Into Space done in the past that brought about positive change in society?
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 text-justify">
            Dance Into Space has trained nearly 100 dancers with disabilities and established new mixed-ability groups in Kenya.
            The organization has decentralized contemporary dance by creating new groups,
            expanding audiences, and establishing performance and training spaces in new areas.
          </dd>
        </div>

        <div>
          <dt class="text-base font-semibold leading-7 text-justify">
            What impact has the inclusive dance initiative had on the acceptance of differences and the arts community?
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 text-justify">
            Universally, dance has a niche that has been carved as 'normal'. 
            Anything beyond this niche is regarded as a shift towards a different direction. 
            However, it has been working well for the past few years, and project results borne of 
            this specific intervention have seen an increased measure of outcomes with reference to 
            acceptance of differences, demystifying of myths, breaking taboos, and misconceptions, 
            and creating new communities of creatives in inclusive arts. 
          </dd>
        </div>

        <div>
          <dt class="text-base font-semibold leading-7 text-justify">
            What is the underlying philosophy behind emphasizing accessibility in the arts, particularly in dance?  
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 text-justify">
            To question the existing educational and cultural conditions by emphasizing 
            accessibility as a process and a way of creating connection between people with and without 
            disabilities and a way of knowing and being in the world through art that is dance.
          </dd>
        </div>
        <!-- More questions... -->
      </dl>
      <%= link_to "More FAQs", faq_path, class: "faq-button bg-white text-black px-4 py-2 rounded hover:bg-customBlue hover:text-white", style: "text-decoration: none; float: right; margin-top: -25px;" %>
    </div>
  </div>
</section>