<!-- Gallery Section -->
<section id="gallery" class="py-16 lg:py-20 md:py-16 sm:py-12 px-4 md:px-8 sm:px-6">
  <h2 class="text-3xl font-bold mb-4" style="color: #6F0114;">Gallery</h2>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg" src="assets/images/at_the_rock.png" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg" src="assets/images/man-ball.png" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg" src="assets/images/duet-2.png" alt="">
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg" src="assets/images/duet-2.png" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg" src="assets/images/one-man.png" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg" src="assets/images/Artivist.jpeg" alt="">
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg" src="assets/images/manonseat.png" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg" src="assets/images/duet3.png" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg" src="assets/images/sandbath.png" alt="">
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg" src="assets/images/award.png" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg" src="assets/images/duet.png" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg" src="assets/images/duet4.png" alt="">
      </div>
    </div>
  </div>
</section>