<section id="jumbotron" class="bg-center bg-no-repeat pt-60" style="background-image: url('<%= asset_path('Ondiege4.jpg') %>'); background-size: cover; height: 100vh; background-position: center center;">
  <style>
    @media (min-width: 768px) {
      #jumbotron {
        height: 100vh;
      }
    }
  </style>
</section>

