<section id="jumbotron" class="mt-0" style="height: 110vh;">
    <!-- Carousel -->
    <div id="jumbotron" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#jumbotron" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#jumbotron" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#jumbotron" data-bs-slide-to="2"></button>
            <!-- <button type="button" data-bs-target="#jumbotron" data-bs-slide-to="3"></button> -->
            <!-- <button type="button" data-bs-target="#jumbotron" data-bs-slide-to="4"></button>
            <button type="button" data-bs-target="#jumbotron" data-bs-slide-to="5"></button>
            <button type="button" data-bs-target="#jumbotron" data-bs-slide-to="6"></button> -->
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="<%= asset_path('Ondiege4.jpg') %>" alt="two dancers on the floor" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="<%= asset_path('agwata_show_three.jpg') %>" alt="one dancer sprinkling sand on another" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="<%= asset_path('duet_nyanam.jpg') %>" alt="two dancers on stage heads touching" class="d-block w-100">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#jumbotron" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#jumbotron" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</section>

