<section id="jumbotron" class="bg-center bg-no-repeat" style="background-image: url('<%= asset_path('jumbotron.png') %>'); background-size: cover;">
  <div class="px-4 mx-auto max-w-screen-xl py-24 lg:py-56 flex justify-end">
    <div class="text-right">
      <div class="font-port-lligat-sans font-normal text-white text-8xl leading-tight tracking-tight lg:text-6xl" style="font-size: 200px; line-height: 214.2px; letter-spacing: 6.5%;">
        Dance
      </div>
      <div class="font-port-lligat-sans font-normal text-white text-4xl leading-tight tracking-tight lg:text-3xl" style="font-size: 96px; line-height: 102.82px; letter-spacing: 6.5%;">
        Into Space
      </div>
    </div>
  </div>
</section>
