<!-- Projects Section -->
<section id="projects" class="py-16 lg:py-20 md:py-16 sm:py-12 px-4 md:px-8 sm:px-6" style="background-color: #ACA9BB;">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold mb-4" style="color: #6F0114;">Community Projects</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 sm:gap-6 md:gap-10 lg:gap-12">
      <!-- Project Cards -->
      <div class="group p-4 rounded overflow-hidden bg-black block" style="height: 500px;">
        <img src="assets/images/manonseat.png" alt="Image description" class="absolute inset-0 w-full h-full object-cover opacity-75 transition-opacity group-hover:opacity-50">
        <div class="relative z-10">
          <h3 class="font-semibold text-white">Breaking Barriers</h3>
          <div class="mt-1 translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
            <p class="text-sm text-white">
              Is a mixed ability dance and SRHR outreaches project in partnership with Amplify Change.
            </p>
          </div>
        </div>
      </div>
      <div class="group p-4 rounded overflow-hidden bg-black block" style="height: 500px;">
        <img src="assets/images/manonseat.png" alt="Image description" class="absolute inset-0 w-full h-full object-cover opacity-75 transition-opacity group-hover:opacity-50">
        <div class="relative z-10">
          <h3 class="font-semibold text-white">Jukumu Letu</h3>
          <div class="mt-1 translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
            <p class="text-sm text-white">
              Jukumu Letu is the title of an Interactive Media Outreach Project (iMOP)
              that emphasizes the use of new media forms to process and disseminate
              information that would motivate citizens to participate in the implementation
              of the constitution. Dance Into Space together with civil society partners
              implemented the project in Nairobi, Nakuru, Mombasa, and Makueni with local
              artists and activists. In partnership with CRE-CO
            </p>
          </div>
        </div>
      </div>
      <div class="group  p-4 rounded overflow-hidden bg-black block" style="height: 500px;">
        <img src="assets/images/manonseat.png" alt="Image description" class="absolute inset-0 w-full h-full object-cover opacity-75 transition-opacity group-hover:opacity-50">
        <div class="relative z-10">
          <h3 class="font-semibold text-white">Dance Meets Roots</h3>
          <div class="mt-1 translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
            <p class="text-sm text-white">
              DMR is an intercultural contemporary dance decentralization project that has up-to-date brought
              together a network of 19 active dance groups country-wide. The main objective of DMR is to
              decentralize contemporary dance by creating new groups, building new audiences, and creating
              performance and training spaces in new areas. The project started with a successful
              pilot phase between 2007-2009 in partnership with Arterial Network & Africalia Belgium.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>