<!-- Programs Section -->
<section id="programs" class="py-16 lg:py-20 md:py-16 sm:py-12 px-4 md:px-8 sm:px-6">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold mb-4" style="color: #6F0114;">Programs</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-8" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <!-- Program Cards -->
      <!-- component -->
      <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-6">
        <div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url('assets/images/1.1.jpg');" ></div>
        <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
          <div class="py-2 text-center font-bold tracking-wide text-gray-800">Mix Ability</div>
          <div class="flex items-center justify-between py-2 px-3 bg-gray-100">
            <button class="text-black bg-gray-400 text-xs  px-2 py-1 rounded uppercase hover:bg-indigo-900 text-white">Learn More</button>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-6">
        <div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url('assets/images/1.1.jpg');" ></div>
        <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
          <div class="py-2 text-center font-bold tracking-wide text-gray-800">Community Outreach</div>
          <div class="flex items-center justify-between py-2 px-3 bg-gray-100">
            <button class="text-black bg-gray-400 text-xs  px-2 py-1 rounded uppercase hover:bg-indigo-900 text-white">Learn More</button>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-6">
        <div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url('assets/images/1.1.jpg');" ></div>
        <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
          <div class="py-2 text-center font-bold tracking-wide text-gray-800">Choreographic Creations</div>
          <div class="flex items-center justify-between py-2 px-3 bg-gray-100">
            <button class="text-black bg-gray-400 text-xs  px-2 py-1 rounded uppercase hover:bg-indigo-900 text-white">Learn More</button>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-6">
        <div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url('assets/images/1.1.jpg');" ></div>
        <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
          <div class="py-2 text-center font-bold tracking-wide text-gray-800">Dance Classes & Trainings</div>
          <div class="flex items-center justify-between py-2 px-3 bg-gray-100">
            <button class="text-black bg-gray-400 text-xs  px-2 py-1 rounded uppercase hover:bg-indigo-900 text-white">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>