<!-- app/views/home/index.html.erb -->
<h1>Dance Into Space</h1>
<p>This is the home page content.</p>
<%= link_to "Go to Blog", blog_posts_path %>

<!-- app/views/blogs/index.html.erb -->
<h1>Blog Page</h1>
<!-- Blog content goes here -->
